*{
    margin: 0px;
    padding: 0px;
}
.d1{
    position:relative ;
    display:inline-block ;
    margin-right: 100px;
  }
  
  
  .btn{
    background-color:aliceblue;
    padding:20px;
    border:none ;
    color:white;
  }
  
  ul{
    margin:0px;
    padding:0;
    position:absolute ;
    display:none;
    overflow: initial;
    width: 200px;
  }
  
  li{
    list-style-type:none;
  width: 200px;
  border:none; 
  
  }
  
  li a{
    text-decoration:none ;
    display:block ;
    padding:5px 15px;
    background-color:aliceblue;
  }
  
  .d1:hover ul{
    display:block ;
  }
  
  li a:hover{
    background-color:#4e9eff;
    color:white;
    border:none;
  }
  
  .dropline{
    display:inline-block ;
  }
  
  
  .drop:hover {
    display:block ;
  }
  
  .dropline:hover {
    display:block ;
  }
  
  .material-icons{
    color:#4e9eff ;
  }
  .logo{
      text-decoration: none;
      color: #4e9eff;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.5em;
      margin-left: 90px;
    margin-right:150px ;
    margin-top: 12px;
  }
  .nav-links
  {
  color: #4e9eff;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  margin-left: 50px;
  margin-top: 20px;
  }
  .nav-links:hover{
    color: #601cfc;
  }
  
  input[type="checkbox"]{
    position: relative;
    width: 50px;
    height: 20px;
    background: #8e8e8e;
    -webkit-appearance: none;
    border-radius: 15px;
    outline: none;
    transition: .3s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.532);
    cursor: pointer;
  }
  input:checked[type="checkbox"]{
     background: #1259a5;
  
  }
  input[type="checkbox"]::before{
    position: absolute;
    content: "";
    left: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50% ;
    transform: scale(1.1);
    box-shadow: 0 2px rgba(0, 0, 0, 0.532);
    transition: 0.3s;
  }
  input:checked[type="checkbox"]::before{
    left: 30px; 
  }
  *{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
  } 
body{
    background: linear-gradient(#ffff);
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
    color: rgb(17, 49, 233);
}

.content h3{
    font-size: 30px;
    padding-top: -10em;
}
.content p1{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: larger;
}
.content p2{
    display: block;
    margin-block-start: 0em;
    margin-block-end: 5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: larger;
}
.content p3{
    display: block;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: larger;
}
.borg{
    padding-left: 1em;

}
.borg2{
    padding-left: 1em;
    padding-bottom: 3em;
}
*{


    padding: 0;
    margin: 0%;
    flex-direction: row;
    
}

section {
    padding: 100px  100px ;
}

.info {
    text-align: center;
    width: 15em;

}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.card > h3{
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
    padding: 0px 10px 10px 10px ;
    text-align: center;
}

.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
#contact{


    background-color: white;
}

.more-details {
    text-decoration: none;
    color: #3a6cf4;
}

.more-details:hover {
    color: #601cfc;
}

.contact .icon{
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1.5em;
}

.footer {
    background-color: #24252a;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
    color:#3a6cf4 ;
    
}


.footer .social-icons {
    font-size: 1.8em;
    padding: 0 12px 0 ;
    color: #3a6cf4;
}


.card {
    background-color: #fff;
    width: 16em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    margin: 40px;
    margin-left: 0%;
    padding: 20px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}
.borg3{
 margin-left: -10em;
 margin-top: -6em;
}
